#Logo{
    position: absolute;
    width:10%;
    height: 15%;
    max-width: 300px;
    max-height: 300px;

}
 .clothingimages {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}